.DS_Store
.idea/
.bsp/
target/
project/target/
project/project/
spark-warehouse/
input_dataset.json
output/*.jar
postgres_data/
pgadmin_data/
streams/
zinc/
update/
task-temp-directory/
global-logging/
scala-2.12/
classes/